*, *::after, *::before {
	box-sizing: border-box;
}

/* Styling for the navigation menu */
/* References for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

nav {
    display: inline-block;
    justify-content: space-between;
}

/* HOME PAGE */

.home-projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1em;
    /*background-color: gray;*/
}

.home-project-individual-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 2em;
    margin: 2em;
    border: 2px solid #B3CEE5;
    border-radius: 20px;
    /*background-color: pink;*/
}

/* ABOUT PAGE */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.about-sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 30%;
    padding: 1em;
    margin: 1em;
}

.about-skills-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    padding: 1em;
    margin: 1em;
}

.skills-sub {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 1em;
    margin: 1em;
    border: 2px solid #6D7DA1;
    border-radius: 20px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 20%;
    padding: 1em;
    margin: 1em;
}

/* PROJECTS PAGE */

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2em;
    /*background-color: gray;*/
}

.project-individual-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 2em;
    margin: 2em;
    border: 2px solid #B3CEE5;
    border-radius: 20px;
}

.project-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4em;
}

.project-yt-container {
    display: block;
    margin: auto;
}

/* INDIVIDUAL PROJECT PAGE */

.project1-container, .project2-container {
    padding: 2em;
}

/* STYLE GUIDE */

.palette-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

.colour-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

/* Media query if the max-width is less than 75rem*/
@media screen and (max-width: 75rem) {
    header {
        flex-direction: column;
    }    
}

/* Media query if the max-width is less than 50rem - applies to mobile devices*/
@media screen and (max-width: 50rem) {
    nav {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }


    .logo-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    footer {
        width: 100%;
    }

    .footer-box {
        flex-direction: column;
    }

    .footer-nav-element h5 {
        margin-top: 2em;
    }

}

