/*
  Colour palette hex code references:
    Main colour: Blue #6D7DA1
    Sub colour: Serenity blue #B3CEE5
    Accent colour 1: White #FFFFFF
    Accent colour 2: Yellow #FDE74C
    Accent colour 3: Rose quartz #F7CAC9

    Main colour: Medium blue #30A3FA 
    Sub colour: Dark Blue #0064B0
    Accent colour 2: Pink #FFBBD0
    Accent colour 3: Cyan green #50FEE4
    Accent colour 4: White #FFFFFF
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Bab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Reference from: https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file */
/* The font used was from Google Fonts: https://fonts.google.com/specimen/Quicksand */
/* https://fonts.google.com/specimen/Oooh+Baby?category=Handwriting */
/* https://fonts.google.com/specimen/Poppins?category=Sans+Serif */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  background-color: white;
  /*position: fixed;  fixes the header in place so it doesn't move even when we scroll */
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1rem;
  background-color: white;
  color: #30A3FA;
  padding-left: 1em;
  padding-right: 1em;
}

section{
  margin-bottom:2rem; 
  background-color: white;  
  padding: 1rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #F7CAC9;
  width: 100%;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline dotted #FFBBD0;
}

h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}

p, li {
  font-size: 1.25rem;
  margin-top: 0;
  font-weight: 400;
  max-width: 100%;
}

code {
  background-color: white;
  color: #0064B0;
  padding: 0.5rem;
  border: 2px solid #FFBBD0;
  border-radius: 8px;
  display: block;
}

.palette {
  width: 20%;
}

.sg-img {
  width: 20%;
}

.banner-img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-project-img {
  width: 100%;
  border: 2px solid #30A3FA;
  border-radius: 8px;
  transition: transform .5s, filter 1.5s ease-in-out; /* Reference from: https://w3bits.com/css-image-hover-zoom/ */
}

.home-project-img:hover, .home-project-img:focus {
  border: 2px solid #0064B0;
  transform: scale(1.025);
}

.profile-img {
  width: 519.5px;
  height: 585.5px;
  border: 2px solid #30A3FA;
  margin: 1em;
  padding: 0.5em;
  border-radius: 8px;
}

.project-img {
  width: 100%;
  border: 2px solid #30A3FA;
  border-radius: 8px;
  transition: transform .5s, filter 1.5s ease-in-out; /* Reference from: https://w3bits.com/css-image-hover-zoom/ */
}

.project-img:hover, .project-img:focus {
  border: 2px solid #0064B0;
  transform: scale(1.025);
}

.project1-img {
  width: 40%;
  border: 2px solid #30A3FA;
  margin: 1em;
  padding: 0.5em;
  border-radius: 8px;
}

.project2-img {
  width: 60%;
  border: 2px solid #30A3FA;
  margin: 1em;
  padding: 0.5em;
  border-radius: 8px;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for navigation bar buttons */

.nav-img {
  width: 10%;
}

/* Reference from: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.nav-img:hover, .nav-img:focus {
  opacity: 0.6;
}

/* Reference from: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

nav a {
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-decoration: none;
  position: relative;
  color: #30A3FA;
  text-decoration: none;
}

nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBBD0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::before {
  transform: scaleX(1);
}

.button-nav:hover, .button-nav:focus {
  color: #30A3FA;
}

.button-link {
  display: inline-block;
  padding: 0.5rem;
  color: #30A3FA;
  font-size: 1em;
  background-color: none;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Reference from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
  border: 2px solid #30A3FA; /* Reference from: https://www.w3schools.com/howto/howto_css_outline_buttons.asp */
}

.button-link:hover, .button-link:focus {
  color: white;
  background-color: #30A3FA;
  border: 2px solid #30A3FA;
}

.view-button {
  display: inline-block;
  padding: 0.5rem;
  width: 5em;
  color: #30A3FA;
  text-align: center;
  font-size: 1em;
  background-color: none;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Reference from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
  border: 2px solid #30A3FA; /* Reference from: https://www.w3schools.com/howto/howto_css_outline_buttons.asp */
}

.view-button:hover, .view-button:focus {
  color: white;
  background-color: #30A3FA;
}

/* Styling for in-text link */

a {
  color: #30A3FA ;
}

/*
.link {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #30A3FA;
}
*/

.link {
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0.2rem 0.2rem 0.2rem;
  text-decoration: none;
  position: relative;
  color: #30A3FA;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBBD0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.project-link {
  position: relative;
  color: #30A3FA;
  text-decoration: none;
}

.project-link:hover {
  color: #6D730A3FADA1;
}

.project-link {
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.25rem 0rem;
  margin: 1rem 0.2rem 0.2rem 0rem;
  text-decoration: none;
  position: relative;
  color: #30A3FA;
  text-decoration: none;
}

.project-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBBD0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.project-link:hover::before {
  transform: scaleX(1);
}

/* Styling for image class */
/* Reference from: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image:hover, .image:focus {
  opacity: 0.6;
}

/* Sizing of the company logo */
.logo-image{
  width: 335.1px;
  height: 52.5px;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* Banner box is used for banner information at the top of the page*/
.box-banner{
  text-align: center;
  /*background-color: aliceblue;*/
}

.banner-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0064B0;
}

.banner-text a {
  display: inline-block;
  padding: 0.5rem;
  color: #0064B0;
  font-size: 1em;
  background-color: none;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Reference from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
  border: 2px solid #0064B0; /* Reference from: https://www.w3schools.com/howto/howto_css_outline_buttons.asp */
}

#home-info, #home-projects, #about, #project-1, #project-2 {
  margin: 4em;
}

.project-yt-container {
  width: 800px;
  height: 450px;
  border: 2px solid #30A3FA;
  margin: 1em;
  padding: 0.5em;
  border-radius: 8px;
}

.project1-container h3, .project2-container h3 {
  padding-top: 2em;
}

/* Styling for footer */

footer {
  margin: auto;
  width: 100%;
}

.footer {
  list-style: none;
  text-align: center;
  width: 100%;
  padding-right: 2.5em;
}

.footer li {
  display: inline-block;
}

/* Styling for the footer navigation links */

.footer-nav {
  text-decoration: none;
  color: #30A3FA;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.35em;
}

.footer-nav:hover, .footer-nav:focus {
  color: #0064B0;
}

.footer-element {
  padding-bottom: 1rem;
  margin-top: 1em;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #FFBBD0;
  width: 100%;
}

footer section {
  /* background-color: #30A3FA; */
  border-top: 5em;
}


/* Styling for citations */
.citations-main {
  padding-left: 3em;
  padding-right: 3em;
}

/* ANIMATION */

.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}